@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
 flex-wrap: wrap;
justify-content: center;
}
header{
    width: 100%;
    height: 20vh;
    background: #3F3F3F;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.menu{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
   
}
.logo img{
    width: 100px;
    height: fit-content;
}
.menu .list{
    display: flex;
    text-decoration: none;
    list-style: none;
  
}
.menu .list a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    padding: 1.5rem;
}
.menu .list :hover{
    text-decoration: underline;
    color: red;
    
}
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 10%;


}
.referencia img{
    max-width: 500px;
    max-height: fit-content;
    padding: 2rem;
    align-items: center;
}
h1{
    font-size: 6em;
    font-family: "Poppins", sans-serif;
}
p{
    font-size: 2em;
    font-style: oblique;
}
footer{
    width: 100%;
    height: 20vh;
    background: #3F3F3F;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
.rodape{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em;
}
.logo2 img{
    width: 70px;
    height: fit-content;
}
.rodape .list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}
.rodape .list :hover{
    text-decoration: underline;
    color: red;
    
}
.rodape .list  a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    padding: 1.5rem;
}
.contatinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.creditos{
    background: #3F3F3F;
    color: aliceblue;
  flex-direction: column;
  
}
.creditos p{
    font-size: 0.7em;
    text-indent: 3em each-line;
}